<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <%- include ("./partials/head") %>
    <%- include('./styles/home') %>
    <title>Hux</title>
</head>
<body>

    <%- include ("./partials/nav") %>
    
    <div class="content">
        <div class="blog-grid">
            <% blogs.forEach(blog => { %>
                <div class="blog-card">
                    <div class="blog-card-image">
                        <img src="<%= blog.coverImageURL %>" alt="Blog Cover">
                    </div>
                    <div class="blog-card-content">
                        <h2 class="blog-card-title"><%= blog.title %></h2>
                        <a href="/blogs/<%= blog._id %>" class="blog-card-button">Read More</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/footer') %>

    <%- include ("./partials/scripts") %>
</body>
</html>
